@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --panelButtonColor: #4F46E5;
    --panelHeaderTextColor: #FFFFFF;
    --botMessageBackgroundColor: #f1f5f9;
    --botMessageTextColor: #0F172A;
    --userMessageBackgroundColor: #4F46E5;
    --userMessageTextColor: #FFFFFF;
    --buttonBackgroundColor: #4F46E5;
}

.yext-chat-header__container {
    background: none var(--panelButtonColor);
}

.yext-chat-header__restart-button-icon, .yext-chat-header__close-button-icon, .yext-chat-header__title {
    color: var(--panelHeaderTextColor);
}

.yext-chat-message-bubble__bubble__bot {
    background: none var(--botMessageBackgroundColor);
}

.yext-chat-message-bubble__text__bot {
    color: var(--botMessageTextColor);
}

.yext-chat-message-bubble__bubble__user {
    background: none var(--userMessageBackgroundColor);
}

.yext-chat-message-bubble__text__user {
    color: var(--userMessageTextColor);
}

.yext-chat-pop-up__button {
    background: none var(--panelButtonColor);
}

.yext-chat-pop-up__button-icon {
    color: var(--panelButtonColor);
}